{% extends 'base.html.twig' %}

{% block title %}{{parent()}} - Liste des élèves{% endblock %}
{% block content %}


<div class="container">
	<div class="row offset-l4">
		<div class="col l6 offset-l3">

			<div class="center">
				<h1 class="text-center"><strong>Liste des élèves</strong></h1>
				<br>
			</div>
			<div class="">
				<div class="">
                    <ul class="collection">
                            {% for eleve in eleve %}
                                <li class="collection-item avatar">
                                
                                <img src="../images/{{eleve.photo}}" alt="" class="materialboxed circle">
                                
                                
                                <span class="title">{{eleve.nom|upper}} {{eleve.prenom}}</span>
                                <br>
                                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_RESPPEDA') %}
                                <p>
                                <br>
                                <a href="{{path('modif_eleve',{'id': eleve.id})}}" class="text-white">
                                <i class="material-icons" title="Modifier l'élève">create</i></a>
                                
                                <a href="{{path('liste_eleves',{'supp':eleve.id})}}" class="text-white">
                                <i class="material-icons" title="Supprimer l'élève">delete</i></a>
                                </p>
                                </li>
                                {% endif %}
                            {% endfor %}
                        </ul>          


                </div>	
			</div>
		</div>
	</div>
</div>

{% endblock %}
