{% extends 'base.html.twig' %}

{% block title %}{{parent()}} - Modification d'élève{% endblock %}
{% block content %}

{% block stylesheets %}
	{{parent()}}
			
			<link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
{% endblock %}

       
<div class="container">
	<div class="row offset-l4">
		<div class="col l6 offset-l3">

			<div class="center">
				<h1 class="text-center"><strong>Modifier l'élève</strong></h1>
				<br>
			</div>
			<div class="">
				{{ form_start(form) }}
				<div class="center text-center">
					{{ form_label(form.nom, 'Nom : ', {'label_attr': {'class': 'text-center'}}
					) }}
					{{ form_widget(form.nom, {'attr': {'class': 'form-control center-align'}}
					) }}
					{{ form_label(form.prenom, 'Prenom : ', {'label_attr': {'class': 'text-center'}}
					) }}
					{{ form_widget(form.prenom, {'attr': {'class': 'form-control center-align'}}
					) }}
					{{ form_label(form.photo, 'Photo : ', {'label_attr': {'class': 'text-center'}}
					) }}
					<div class = "file-field input-field">
                  <div class = "btn">
                     <span>Parcourir</span>
                     {{ form_widget(form.photo, {'attr': {'class': 'form-control', 'type': 'file'}}) }}
                  </div>
                  
                  <div class = "file-path-wrapper">
                     <input class = "file-path validate disabled" type = "text" placeholder = "Photo.png" />		
                  </div>
               </div>
				</div>
                <div class="center text-center">
					</br> 
					{{ form_widget(form.modifier_eleve, { 'label': "Modifier l'élève", 'attr': {'class': 'btn font-weightbold bg-primary text-white mx-auto text-center'}}) }}
				</div>
				{{ form_end(form) }}
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block javascripts %}
	<script src="../js/materialize.js"></script>
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="../js/init.js"></script>
	{{parent()}}
	
{% endblock %}
