{% extends 'base.html.twig' %}

{% block title %}{{parent()}} - Modifier une épreuve{% endblock %}
{% block stylesheets %}
	
			<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
			<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
			<link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
{% endblock %}
{% block content %}

<div class="container">
	<div class="row offset-l4">
		<div class="col l6 offset-l3">

			<div class="center">
				<h1 class="text-center"><strong>Modifier une épreuve</strong></h1>
				<br>
			</div>
			<div class="">
				{{ form_start(form) }}
				<div class="center text-center">
					
          			{{ form_label(form.codeModule, 'Code du module : ', {'label_attr': {'class': 'font-weightbold'}}
					) }}
					{{ form_widget(form.codeModule, {'attr': {'class': 'form-control center-align'}}
					) }}

					{{ form_label(form.nomModule, 'Nom du module : ', {'label_attr': {'class': 'font-weightbold'}}
					) }}
					{{ form_widget(form.nomModule, {'attr': {'class': 'form-control center-align'}}
					) }}

                    {{ form_label(form.classe, 'Classe : ', {'label_attr': {'class': 'font-weightbold'}}
					) }}
					{{ form_widget(form.classe, {'attr': {'class': 'form-control center-align'}}
					) }}

                    {{ form_label(form.nombreEleve, "Nombre d'élèves : ", {'label_attr': {'class': 'font-weightbold'}}
					) }}
					{{ form_widget(form.nombreEleve, {'attr': {'class': 'form-control center-align'}}
					) }}

                    {{ form_label(form.sujet, 'Sujet : ', {'label_attr': {'class': 'font-weightbold'}}
					) }}
					<div class = "file-field input-field">
						<div class = "btn">
							<span>Parcourir</span>
							{{ form_widget(form.sujet, {'attr': {'class': 'form-control center-align'}}) }}
						</div>
						<div class = "file-path-wrapper">
							<input class = "file-path validate disabled" type = "text" placeholder = "Sujet.pdf" />	
						</div>
               		</div>
					
                    {{ form_label(form.duree, 'Duree (en minute): ', {'label_attr': {'class': 'font-weightbold'}}
					) }}
					{{ form_widget(form.duree, {'attr': {'class': 'form-control center-align'}}
					) }}

                    
                     {{ form_label(form.dateEpreuve, "Date de l'épreuve: ", {'label_attr': {'class': ''}}
					) }}
					{{ form_widget(form.dateEpreuve, {'attr': {'class': 'multiple center-align'}}
					) }}

					{{ form_label(form.utilisateurs, "Professeur et surveillant assignés: ", {'label_attr': {'class': ''}}
					) }}
					{{ form_widget(form.utilisateurs, {'attr': {'class': 'browser-default'}}
					) }}
				
				{{ form_widget(form.modifierEpreuve, { 'label': "Modifier l'épreuve", 'attr': {'class': 'btn font-weightbold bg-primary text-white mx-auto text-center'}}) }}

               
                
				
				{{ form_end(form) }}
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block javascripts %}
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="../js/materialize.js"></script>
	    <script src="../js/init.js"></script>
	{{parent()}}

	<script>
  		document.getElementById("modif_epreuve_dateEpreuve_date_month").classList.add('browser-default');
 		document.getElementById("modif_epreuve_dateEpreuve_date_day").classList.add('browser-default');
 		document.getElementById("modif_epreuve_dateEpreuve_date_year").classList.add('browser-default');
  		document.getElementById("modif_epreuve_dateEpreuve_time_hour").classList.add('browser-default');
		document.getElementById("modif_epreuve_dateEpreuve_time_minute").classList.add('browser-default');
	</script>
{% endblock %}