{% extends 'base.html.twig' %}

{% block title %}{{parent()}} - Inscription{% endblock %}
{% block content %}

    
<div class="container">
	<div class="row offset-l4">
		<div class="col l6 offset-l3">

			<div class="center">
				<h1 class="text-center"><strong>S'inscrire</strong></h1>
				<br>
			</div>
			<div class="">
          			{{ form_start(form) }}
				<div class="center text-center">
 
					
          			{{ form_label(form.username, 'Adresse Mail : ', {'label_attr': {'class': 'font-weightbold'}}
					) }}
					{{ form_widget(form.username, {'attr': {'class': 'form-control center-align'}}
					) }}

					{{ form_label(form.nom, 'Nom  : ', {'label_attr': {'class': 'font-weightbold'}}
					) }}
					{{ form_widget(form.nom, {'attr': {'class': 'form-control center-align'}}
					) }}

                    {{ form_label(form.prenom, 'Prenom : ', {'label_attr': {'class': 'font-weightbold'}}
					) }}
					{{ form_widget(form.prenom, {'attr': {'class': 'form-control center-align'}}
					) }}

                    {{ form_label(form.password, "Mot de passe : ", {'label_attr': {'class': 'font-weightbold'}}
					) }}
					{{ form_widget(form.password, {'attr': {'class': 'form-control center-align'}}
					) }}

                    {{ form_label(form.confirmation, 'Confirmer le mot de passe : ', {'label_attr': {'class': 'font-weightbold'}}
					) }}
          {{ form_widget(form.confirmation, {'attr': {'class': 'form-control center-align'}}
					) }}


          	{{ form_widget(form.valider, { 'label': "Valider", 'attr': {'class': 'btn font-weightbold bg-primary text-white mx-auto text-center'}}) }}

               
                
				
				{{ form_end(form) }}
			</div>
		</div>
	</div>
</div>    




{% endblock %}