{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Ajout élève sur un examen{% endblock %}
{% block content %}



<div class="container-fluid">   
        <div class="row justify-content-center">
            <h1 class="text-center text-primary p-4">Ajout d'élève à un examen</h1>
        </div>
          <div class="row justify-content-center">
           
        </div>
        {{ form_start(form) }}
                    {{ form_label(form.epreuve, 'Epreuve : ', {'label_attr': {'class': 'font-weightbold'}}
					) }}
					{{ form_widget(form.epreuve, {'attr': {'class': 'browser-default'}}
					) }}

					{{ form_label(form.eleve, 'Eleve : ', {'label_attr': {'class': 'font-weightbold'}}
					) }}
					{{ form_widget(form.eleve, {'attr': {'class': 'browser-default'}}
					) }}

					{{ form_widget(form.ajouter, {'attr': {'class': 'btn font-weightbold bg-primary text-white mx-auto text-center'}}
					) }}

                    
               
                
				{{ form_end(form) }}
</div>        

{% endblock %}