<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}
				LESITEDUTEMPS
			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle`
																and uncomment the following Encore helpers to start using Symfony UX #}
		{% block stylesheets %}
			{#{{ encore_entry_link_tags('app') }}#}
			<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
			<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
			<link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>


		{#<link href="{{ asset('css/your_form_theme.css') }}" rel="stylesheet"/>#}
		{% endblock %}


	</head>
	<body>
		{% block body %}
			<style>
				header,
				main,
				footer {
					padding-left: 300px;
				}

				@media only screen and(max-width : 992px) {
					header,
					main,
					footer {
						padding-left: 0;
					}
				}
			</style>
			<header>
				<nav>
					<div class="nav-wrapper">
						<div class="row">
							<div class="col s12">
								<a href="#" data-target="sidenav-1" class="left sidenav-trigger hide-on-medium-and-up">
									<i class="material-icons">menu</i>
								</a>
								
								<a href="{{path('index')}}" class="brand-logo">noteLast</a>
							</div>
						</div>
					</div>
				</nav>
			</header>


			<!-- LEFT SIDEBAR	 -->
			<ul id="sidenav-1" class="sidenav sidenav-fixed">
				<br>
				<li>
					<a class="subheader">Role</a>
				</li>
				<li>
					<a href="path{{'liste_rattrapages'}}" target="">Liste des rattrapages</a>
				</li>
				<li>
					<a href={{ path('liste_eleves') }} target="">Liste élèves</a>
				</li>
				<li>
					<a href="path{{'ajout_rattrapage'}}" target="">Ajouter un rattrapage</a>
				</li>
				
                
                <li>
					<a href="{{ path('elevePasse') }}" target="">Ajouter un élève à une épreuve</a>
				</li>

				<li>
					<a href="{{ path('ajout_eleve') }}" target="">Ajouter un élève</a>
				</li>

				<li>
					<a href="{{ path('liste_epreuves') }}" target="">Liste des épreuves</a>
				</li>

				
			</ul>

			<br>



<main>
	{% block content %}
	{% endblock %}
	
</main>



			<script>
				$(document).ready(function () {
$('.sidenav').sidenav();
$('#sidenav-1').sidenav({edge: 'left'});

});
				</script>
				<script>
	  $(document).ready(function(){
    $('.datepicker').datepicker();
  });

 var instance = M.Datepicker.getInstance(elem);
</script>
<script>
  $(document).ready(function(){
    $('.timepicker').timepicker();
  });

    var instance = M.Timepicker.getInstance(elem);
  </script>
				<!--  Scripts-->
				<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
				<script src="js/materialize.js"></script>
				<script src="js/init.js"></script>
			{% endblock %}
		
	</body>
</html>
